<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title>Doc</title>
  <script type="importmap">
    {
      "imports": 
      {
        "three": "https://cdn.jsdelivr.net/npm/three@v0.171.0/build/three.module.js",
        "three/addons/": "https://cdn.jsdelivr.net/npm/three@v0.171.0/examples/jsm/"
      }
    }
  </script>
</head>

<body>
    <div id="background"></div>
    <div id="header">
        <nav class="head">
            <a class="widget" href="">Giới thiệu</a>
            <a class="widget" href="">Hướng dẫn</a>
            <a class="widget" href="">Liên hệ</a>
        </nav>
    </div>
    <div id="content">
        <button type="button" onclick="window.location.href='{{ url_for('static', filename='css/style.css') }}'">Log in</button>
        <button type="button" onclick="window.location.href='login.html'">Sign up</button>
    </div>


    <!-- Three JS -->
    <script type="x-shader/x-vertex" id="vertexshader">

        attribute float size;
        attribute vec3 color;
        attribute float fade;

        varying vec3 vColor;

        void main() {
            vColor = color;
            vec4 mvPosition = modelViewMatrix * vec4(position, 1.0);
            gl_PointSize = size;
            gl_Position = projectionMatrix * mvPosition;
        }
    </script>
    <script type="x-shader/x-fragment" id="fragmentshader">

        uniform sampler2D pointTexture;
        varying vec3 vColor;
        void main() {
            gl_FragColor = vec4(vColor, 1.0);
            gl_FragColor = gl_FragColor * texture2D(pointTexture, gl_PointCoord);
        }
    </script>

    <script type="module">
        import { setBackground } from "{{ url_for('static', filename='js/script.js') }}";
        setBackground();
    </script>
</body>
</html>
