<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
  <title>52Hz chat-bot</title>
  <script type="importmap">
    {
      "imports": 
      {
        "three": "https://cdn.jsdelivr.net/npm/three@v0.171.0/build/three.module.js",
        "three/addons/": "https://cdn.jsdelivr.net/npm/three@v0.171.0/examples/jsm/"
      }
    }
    </script>
</head>
<body>
  <div id="background"></div>


  <nav class="navbar">
    <div class="nav-left">
        <a href="/" class="nav-link">Home</a>
    </div>
  </nav>


  <div class="login-container glass-effect" style="display: block;">
    <h2>Login</h2>
    <div class="input-group">
        <input type="text" id="username" name="username" placeholder="username" required>
    </div>
    <div class="input-group">
        <input type="password" id="password" name="password" placeholder="password" required>
    </div>
    <button id="login-btn">Login</button><br><br>
    <button id="register-btn">Register</button><br><br>
    <div id="errorMessage" style="color: red; display: none;">Invalid username or password.</div>
  </div>

  <div class="register-container glass-effect" style="display: none;">
    <h2>Register</h2>
    <div class="input-group">
        <input type="text" id="regemail" name="regemail" placeholder="email" required>
    </div>
    <div class="input-group">
        <input type="text" id="regusername" name="regusername" placeholder="username" required>
    </div>
    <div class="input-group">
        <input type="password" id="regpassword" name="regpassword" placeholder="password" required>
    </div>
    <div class="input-group">
        <input type="password" id="regcfpassword" name="regcfpassword" placeholder="confirm password" required>
    </div>
    <button id="register-btn-reg">Register</button><br><br>
    <button id="login-btn-reg">Login</button><br><br>
  </div>


  <!-- Three JS -->
  <script type="x-shader/x-vertex" id="vertexshader">
            
    attribute float size;
    attribute vec3 color;
    attribute float fade;

    varying vec3 vColor;

    void main() {
      vColor = color;
      vec4 mvPosition = modelViewMatrix * vec4(position, 1.0);
      gl_PointSize = size;
      gl_Position = projectionMatrix * mvPosition;
    }
  </script>
  <script type="x-shader/x-fragment" id="fragmentshader">
          
    uniform sampler2D pointTexture;
    varying vec3 vColor;
    void main() {
      gl_FragColor = vec4(vColor, 1.0);
      gl_FragColor = gl_FragColor * texture2D(pointTexture, gl_PointCoord);
    }
  </script>

  <script type="module">
    import { setBackground } from "{{ url_for('static', filename='js/script.js') }}";
    setBackground();
  </script>
  <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>
